apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-web
  labels:
    app: demo-web
spec:
  replicas: 2
  selector:
    matchLabels:
      app: demo-web
  template:
    metadata:
      labels:
        app: demo-web
    spec:
      containers:
        - name: demo-web
          image: nginx:stable
          ports:
            - containerPort: 80
          env:
            - name: DEMO_MESSAGE
              value: "Hello from EKS + Argo CD!"
